body {
    background-color: #d1e2c7;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.app {
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.app button {
    padding: 10px;
}